.App{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.input-section{
  margin: 0;
  padding: 5px;
  display: inline-block;
}

.text-box{
  cursor: move;
  width: auto;
  height: auto;
  outline: none;
}

textarea{
  width: auto;
  height: auto;
  outline: none;
  resize: both;
  border: none;
  overflow: hidden;
  margin: 5px;
  background: transparent;
  font-size: 40px;
  font-weight: 900;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea:hover{
  text-decoration: underline;
}

.input-section input,button{
  padding: 5px;
  font-weight: 400;
  font-size: 15px;
  font-family: sans-serif;
  outline: none;
  border: none;
  border-radius: 5px;
}

.input-section button{
  margin-left: 5px;
  background-color: rgb(34, 133, 133);
  color: white;
  font-weight: 700;
 
}

.border{
  border: 2px solid rgb(28, 122, 203);
}
